body {
  background: linear-gradient(120deg, #2b2e4a, #1e202e);
  min-height: 100vh;
}

input[type="number"] {
  width: 100px;
  display: inline-block;
}

#reelsOutput {
  font-weight: bold;
  letter-spacing: 0.3rem;
}

#output {
  margin-top: 20px;
}

button {
  min-width: 100px;
}
